*{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --backgroundColor: #38302E;
  --pallete1: #6F6866;
  --pallete2: #788585;
  --pallete3: #9CAEA9;
  --pallete4: #CCDAD1;
}

body {
  height: 100%;
  background-color: var(--pallete4);
  color: var(--pallete4);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(25, 25, 25, 0.2);
}

.top-nav {
  width: 100%;
  height: 60px;
  padding: 12px 36px 0px 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--pallete4);
}

.bottom-nav {
  width: 100%;
  height: 45px;
  background-color: var(--pallete4);
  border-bottom: 3px solid var(--pallete3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--pallete1);
}

.logo {
  width: 80px;
  height: 40px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
}

.search-container {
  width: 45%;
  height: 48px;
  position: relative;
  border: 3px solid var(--pallete1);
  border-radius: 30px;
  background-color: white;

}

.search-bar {
  left: 30px;
  height: inherit;
  position: relative;
}

.search-bar input {
  width: 80%;
  height: 100%;
  border: none;  
  outline: none;
}

.icons-container {
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons-container svg {
  width: 24px;
  height: 24px;
}

.welcome {
  height: 30px;
  margin: 16px 0px 16px 0px;
  text-align: center;
  color: var(--backgroundColor);
}

.main-banner-container {
  width: 100%;
  height: 250px;
  background-color: var(--pallete2);
  text-align: center;
  position: relative;
}

.main-banner-container h1 {
  margin-top: 24px;
  font-size: 50px;
}

.main-banner-container h3 {
  margin-top: 8px;
  font-size: 24px;
}

.main-banner-container p {
  margin-top: 40px;
}

.daily-items {
  display: flex;
  justify-content: center;
}

.item-container {
  margin-top: 30px;
  position: relative;
  display: grid;
  grid-template-rows: 134px 134px;
  grid-template-columns: 338px 160px 160px 160px;
  gap: 12px 12px;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;  
}

.left-filter, .right-filter {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 50%;
  height: inherit;
}

.left-filter { 
  justify-content: left; 
  margin-left: 12px;
}
.right-filter { 
  justify-content: right; 
  margin-right: 12px;
}

.left-filter button, .right-filter button {
  width: 35%;
  height: 36px;
  border-radius: 48px;
  border: solid 2px var(--backgroundColor);
  text-align: center;
  margin-top: 4px;
}

.product-list-container {
  width: 23%; 
  height: 350px;
  margin-bottom: 12px; 
  box-sizing: border-box; 
  color: var(--backgroundColor);
  overflow: hidden;
  transition: box-shadow 0.3s ease-out;
}

.product-list-container p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-bottom: 2px;
}

.product-list-cost {
  font-size: 16px;
}

.product-list-cart {
  width: 50%;
  height: 48px;
  border-radius: 48px;
  border: solid 2px var(--backgroundColor);
  text-align: center;
  margin-top: 4px;
}

.product-list-star {
  width: 100%;
  display: flex;
  gap: 4px;
}

.product-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

/* Adjustments for smaller screens */
@media (max-width: 1199px) {
  .product-row {
      margin-left: 5%;
      margin-right: 5%;
  }
}

/* Adjustments for larger screens */
@media (min-width: 1200px) {
  .product-row {
      margin-left: 15%;
      margin-right: 15%;
  }
}

.product-list-img {
  margin-bottom: 4px;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.product-list-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: box-shadow 0.3s ease-out;
}

.main-items1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.main-items2, .main-items3, .main-items4, .main-items5, .main-items6, .main-items7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main:hover, .product-list-img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#nav-btn {
  background-color: transparent;
  border: none;
}

/* This is the product page styles */

.main-hub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.back-to-prev {
  margin-top: 14px;
  padding-left: 20px;
}

.item-container-product {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 20px;
}

.left-container {
  width: 50%;
  height: 100%;
  margin-left: 20px;
  background-color: black;
}

.img-scroll {
  width: 100%;
  height: 424px;
  background-color: blue;
  border-radius: 16px;
  overflow: hidden;
}

.img-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-img {
  margin-top: 10px;
  width: 100%;
  height: 96px;
  display: flex;
}

.mini-img {
  width: 96px;
  height: 96px;
  background-color: red;
  border-radius: 16px;
}

.right-container {
  width: 50%;
  margin-right: 20px;
  height: 100%;
  background-color: white;
}

.ux-textspans {
  border-bottom-style: none;
  border-bottom: var(--backgroundColor);
  line-height: 20px;
}

.link-list-container {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 40px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} 

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

form {
  margin: 0 auto;
  align-items: center;
}

.user-btn {
   width: 50%;
   height: 48px;
   border-radius: 48px;
   border: solid 2px var(--backgroundColor);
   text-align: center;
}

.user-btn:hover, 
.product-list-cart:hover,
.left-filter button:hover,
.right-filter button:hover
{
  background-color: var(--pallete3);
}

.reviews {
  display: inline-block;
  width: 100%;
  height: calc(100% - 120px); 
  background-color: blue;
  overflow: auto; 
  margin-left: 20px;
  margin-right: 20px;
}
